<%= form_for(@erdate) do |f| %>
  <% if @erdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@erdate.errors.count, "error") %> prohibited this erdate from being saved:</h2>

      <ul>
      <% @erdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.number_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br />
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :estimate %><br />
    <%= f.text_field :estimate %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :confcall %><br />
    <%= f.text_field :confcall %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
