<h1>Listing erdates</h1>

<table>
  <tr>
    <th>NO.</th>
    <th>Stock</th>
    <th>Datetime</th>
    <th>Estimate</th>
    <th>Value</th>
    <th>Confcall</th>
    <th>Beat</th>
    <th>Miss</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @erdates.each_with_index do |erdate, i| %>
  <tr>
    <td><%= (i+1) %></td>
    <td><%= link_to erdate.stock.name, erdate.stock %></td>
    <td><%= erdate.datetime %></td>
    <td><%= erdate.estimate %></td>
    <td><%= erdate.value %></td>
    <td><%= erdate.confcall %></td>
    <td><%= erdate.beat_cnt %></td>
    <td><%= erdate.miss_cnt %></td>
    <td><%= link_to 'Show', erdate %></td>
    <td><%= link_to 'Edit', edit_erdate_path(erdate) %></td>
    <td><%= link_to 'Destroy', erdate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Erdate', new_erdate_path %>
