<!DOCTYPE html>
<html>
<head>
  <title>StockServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="notice">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div id="flash">
  <% if flash[:notice] %>
      <h3 class="info_box"><%= flash[:notice] %></h3>
  <% end %>
  <% if flash[:error] %>
      <h3 class="error_box"><%= flash[:error] %></h3>
  <% end %>
</div>
<div id="getting-started">
  <h1>Links</h1>

  <ol>
    <li>
      <%= link_to 'stocks', stocks_path %>
    </li>
    <li>
      <%= link_to 'popularities', popularities_path %>
    </li>
    <li>
      <%= link_to 'erdates', erdates_path %>
    </li>
  </ol>
</div>
<%= yield %>

</body>
</html>
