<%= form_for(@beat_miss) do |f| %>
  <% if @beat_miss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beat_miss.errors.count, "error") %> prohibited this beat_miss from being saved:</h2>

      <ul>
      <% @beat_miss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :erdate_id %><br />
    <%= f.number_field :erdate_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :beat %><br />
    <%= f.number_field :beat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
